@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moon+Dance&display=swap');

header{
    height: 350px;
    max-width: 100%;
    background: url("images/banner-home.jpg") right top;
    
}
header img{
    width: 5%;
    position: relative;
    left: 470px;
    top: 10px;
}
.buscador{
    position: relative;
    left: 930px;
}
h1{
    color: beige;
    font-family: "Moon Dance", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: -100px;
    left: 10px;
    
}
h2{
    color: beige;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 450;
    text-align: center;
    position: relative;
    top: -130px;
    right: 20px;

}
nav{
    background-color: black;
    text-align: center;
    font-family: "Montserrat";
    }
nav a{
    color: beige;
    font-size: 20px;
    text-decoration: none;
    
}
nav a:hover{
    color: burlywood;
    font-size: 21px;
}

#carrusel{
    background-color: #473D3C;
    font-style: italic;
    text-align: center;
       
}
#carrusel p em{
    font-family: "Moon Dance";
    font-size: 42px;
}
#carrusel img{
    width: 150px;
    height: 200px;
    border-radius: 30px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
}

.recomendados{
    background-color: #D9D9D9;
    
   
}

#text-card{
    text-align: center;
    font-family: "Montserrat";
    font-size: 20px;
}
#text-price{
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
}
#card1{
    width: 250px;
    height: 300px;
    background-color:white;
    padding: 20px;

    
}
#card1 img{
    width: 200px;
    height: 200px;
    padding: 20px,20px,0px,20px;
    margin-left: 20px;
    
}
#card2{
    width: 250px;
    height: 300px;
    background-color:white;
    padding: 20px;
}
#card2 img{
    width: 200px;
    height: 200px;
    padding: 20px,20px,0px,20px;
    margin-left: 20px;
}
#card3{
    width: 250px;
    height: 300px;
    background-color:white;
    padding: 20px;
}
#card3 img{
    width: 200px;
    height: 200px;
    padding: 20px,20px,0px,20px;
    margin-left: 20px;
}
#card4{
    width: 250px;
    height: 300px;
    background-color:white;
    padding: 20px;
}
#card4 img{
    width: 200px;
    height: 200px;
    padding: 20px,20px,0px,20px;
    margin-left: 20px;
}

.pie{
    background-color: #473D3C;
}
.pie p{
    color: beige;
    font-family: "Montserrat";
}